###################################################################
LaTeX Files
###################################################################
*.aux
*.log
*.out
*.gz
*.bbl
*.pdf
*.synctex
*.toc
*.blg
*.fls
*.fdb_latexmk
*.xml

###################################################################
JetBrains
###################################################################
**/.idea
*.iml

###################################################################
Others
###################################################################
**/Podcasts
**/Podcast
*.xlsx
*.docx
_minted*
*.pptx
